html, body{
    background-color: black;
}

.ContactSection {
    height: 10vh;
}

.center-div-contacts{
    text-align: center;
    margin-top: 20vh;
}

.center-div-contacts h3, .center-div-contacts p{
    color:white;
    font-size: 3vh;
}
.text {
    color: white;
}

.light-theme {
	color: black;
    background-color: white;
}